# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* List data science libraries
* List the Data Science tools in a table

Some of the popular languages that Data Scientists use are:
    1. Python
    2. R
    3. Javascript
    4. Scala
    5. SQL

Some of the commonly used libraries used by Data Scientists include:
    1. NumPy
    2. Pandas
    3. Matplotlib
    4. Seaborn
    5. Tensorflow
    6. Scikit-Learn

|Data Science Tools|
|------------------|
|Apache Airflow|
|MongoDB|
|JupyterLab|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Oben Seven